h1 {
  color: var(--primary-color);
  font-size: 3em;
  margin-bottom: 70px;
}
.logingPage {
  display: flex;
  height: 100vh;
}
.formContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 110px;
  background-color: white;
  margin-right: 40px;
  margin-bottom: 50px;
}
.formContainer a {
  text-decoration: none;
  color: var(--primary-color);
  float: right;
}
.formContainer button {
  width: 100%;
  padding: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 100px;
}
.imagelog {
  background-color: var(--secondary-color);
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.imagelog img {
  max-width: 80%;
  height: auto;
}
