.containerForm {
  background-color: white;
  width: 35%;
  padding: 90px 30px 30px 30px;
  position: absolute;
  top: 30%;
  left: 40%;
  margin-top: -50px;
  margin-left: -50px;
}
.buttonGroup {
  display: flex;
  gap: 30px;
  margin-top: 60px;
}
.close {
  font-size: 30px;
  position: relative;
  bottom: 75px;
  float: right;
  cursor: pointer;
  color: red;
}
