/* .header button {
  background-color: #2b4fa2;

  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  padding: 10px 20px;
  cursor: pointer;
} */
.log {
  display: flex;
  gap: 60px;
  align-items: center;
}
.header {
  display: flex;
  gap: 900px;
  align-items: center;
}
.navbar {
}
.btnSignin {
  color: brown;
}
.Logout {
  text-decoration: none;
  color: black;
  cursor: pointer;
}
